html {
  margin: 0 40px;
  padding: 0;
  color: #000000;
  background-color: #f2f2f2;
}
body {
  font-family: "PT Sans", "Arial", "sans-serif";
  text-transform: uppercase;
  width: 1200px;
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
  box-shadow: 0px 5px 3px 5px #dbdbdb;
  margin: 0 auto;
}
.index-logo {

  top: 50px;
  z-index: 1;
}
.main-header {
  height: 56px;
  position: relative;
  z-index: 3;
  background-color: #ffffff;
}
.nav-navigator {
  margin: 0;
}
.navigation {
  list-style: none;
  display: inline-block;
  width: 239px;
  height: 100px;
}
.navigation a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  line-height: 1.857;
  text-align: center;
}
.navigation:nth-child(1)  {
  margin-left: -40px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 71px;
  padding-right: 74px;
  float: left;
  display: inline-block;
  height: 26px;
  width: 94px;
}
.navigation a:hover {
  color: #81b3d2;
}
.navigation:nth-child(2) {
  height: 26px;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 73px;
  padding-right: 68px;
}
.navigation:nth-child(3) {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 75px;
  padding-right: 74px;
  width: 92px;
  height: 26px;
  margin-left: 236px;
}
.navigation:nth-child(4) {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 26px;
  padding-left: 87px;
  padding-right: 72px;
  width: 80px;
  float: right;
}
.main-navigator img {
  position: absolute;
  left: 482px;
  width: 136px;
  padding-left: 50px;
  padding-right: 50px;
  top: 0px;
}
.index {
  top: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.index-content {
  width: 100%;
  height: 424px;
  display: block;
 margin-top: -170px;
  z-index: 5;

  text-align: center;
  height: 215px;
}
span {
  display: block;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.238;
  width: 516px;
  height: 48px;
  text-align: center;
  margin-left: 282px;
  margin-right: 282px;
  margin-bottom: 100px;
  padding-left: 60px;
  padding-right: 60px;
}
.call {
  margin-left: 354px;
  margin-right: 355px;
  margin-bottom: 57px;
  margin-top: -61px;
  width: 490px;
  height: 27px;
  text-align: center;
  font-size: 14px;
}
.index-content-left {
  display: block;
  float: left;
  width: 400px;
  height: 256px;

  background-color: #81b3d2;
  color: #ffffff;
}
.index-content-right {
  display: block;
  float: right;

  width: 800px;
  height: 256px;
}
.index-content-left b {
  text-align: center;
  font-size: 21px;
  margin-top: 55px;
  display: block;
  line-height: 21px;
  padding-left: 139px;
  padding-right: 141px;
  font-weight: bold;
}
.index-content-left p {
  display: block;
  margin-top: 25px;
  text-align: center;
  width: 86px;
  margin-left: 157px;
  margin-right: 157px;
}
.index-content-left .cause-1 {
  text-align: center;
  display: block;
  line-height: 21px;
  margin-top: 25px;
  width: 298px;
  margin-left: 0;
  padding-left: 50px;
  padding-right: 50px;
}
.fuatures {
  width: 1200px;
  height: 280px;
  display: block;

  clear: both;
}
.features-index:nth-child(1) {
 float: left;
 width: 240px;
 height: 280px;
 display: inline-block;
 margin: 0;
 padding-top: 50px;
 padding-left: 160px;
}
.features-index:nth-child(2) {
  float: left;
  width: 240px;
  height: 280px;
  display: inline-block;
  margin: 0;
  padding-top: 48px;
  padding-left: 160px;
}
.features-index:nth-child(3) {
 float: right;
 width: 240px;
 height: 280px;
 display: inline-block;
 margin: 0;
 padding-top: 48px;
 padding-left: 160px;
}
.features-index:nth-child(1) .name {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-right: 162px;
  margin-bottom: 0;
}
.features-index:nth-child(1) .name-content {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 300px;
  height: 50px;
  padding: 0;
  display: block;
  margin-top: 15px;
  margin-left: -110px;
}
.features-index:nth-child(2) .name {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-right: 162px;
  margin-bottom: 0;
}
.features-index:nth-child(2) .name-content {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 280px;
  height: 50px;
  padding: 0;
  display: block;
  margin-top: 15px;
  margin-left: -100px;
}
.features-index:nth-child(3) .name {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-left: -165px;
  margin-bottom: 0;
}
.features-index:nth-child(3) .name-content {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 280px;
  height: 50px;
  padding: 0;
  display: block;
  margin-top: 15px;
  margin-left: -100px;
}
.bridge {
  width: 1200px;
  height: 256px;
  margin: 0;
  padding: 0;
}
.index-content-3-4-5 {
  width: 1200px;
  height: 256px;
  display: block;
  background-color: #eeeeee;
  margin-top: 0;
}
.index-content-left-1 {
  display: inline-block;
  float: left;
  margin-right:  100px;
  height: 256px;
  width: 800px;
  margin-top: -48px;
}
.index-content-right-1 {
  display: block;
  float: left;
  height: 256px;
  width: 400px;
  background-color: #81b3d2;
  color: #ffffff;
  margin-left: 800px;
  margin-top: -256px;
}
.index-content-right-1 b {
  display: block;
  font-size: 21px;
  width: 151px;
  height: 55px;
  margin-top: 52px;
  margin-left: 120px;
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 21px;
}
.index-content-right-1 p {
  font-size: 14px;
  display: block;
  margin-top: 15px;
  text-align: center;
  width: 76px;
  margin-left: 160px;
  margin-right: 157px;
  margin-bottom: 0;
}
.index-content-right-1 .cause-1 {
  margin-top: 20px;
  display: block;
  width: 300px;
  height: 40px;
  margin-left: 50px;
  line-height: 21px;
}
.index-content-3 {
  width: 400px;
  display: inline-block;
  float: left;
  height: 256px;
}
.index-content-4 {
  width: 400px;
  display: inline-block;
  float: left;
  height: 256px;
}
.index-content-5 {
  width: 400px;
  display: block;
  float: right;
  height: 256px;
}
.index-content-3-4-5 b {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  height: 40px;
  width: 150px;
  display: block;
  margin-left: 128px;
  margin-top: 50px;
}
.index-content-3-4-5 p {
  font-size: 14px;
  color: #333333;
}
.index-content-3-4-5 b+p {
  height: 30px;
  width: 80px;
  margin-left: 165px;
  margin-top: 20px;
  display: block;
  text-align: center;
}
.index-content-3 p+p {
  width: 250px;
  height: 50px;
  margin-left: 80px;
  text-align: center;
  line-height: 21px;
}
.index-content-4 p+p {
  width: 280px;
  height: 50px;
  margin-left: 60px;
  display: block;
  text-align: center;
  line-height: 21px;
}
.index-content-5 p+p {
  width: 300px;
  height: 50px;
  margin-left: 53px;
  text-align: center;
}
.hotel {
  width: 1200px;
  height: 240px;


}
.hotel b {
  font-size: 30px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: 60px;
  display: block;
  font-weight: bold;
  text-align: center;
}
.hotel p {
  line-height: 24px;
  font-size: 14px;
  width: 490px;
  height: 50px;
  margin-top: 30px;
  margin-left: 355px;
  display: block;
  text-align: center;
}
.map {
  position: relative;
  width: 1200px;
  height: 593px;
  z-index: 1;

}
.footer-index {
  width: 1200px;
  height: 120px;

  z-index: 6;
  opacity: 0.902;

  background-color: #f9fbf6;

  position: absolute;

  bottom: -2px;
}
.search {



  width: 580px;
  height: 485px;
  margin-left: 305px;

}
.hotel-search button {
  margin: 0;
  padding: 0;
  height: 90px;
  width: 580px;
  background-color: #766357;
  color: rgb(255, 255, 255);
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  border: none;
  margin-top: 30px;
}
.hotel-search button:hover {
  cursor: pointer;
  outline: none;
}
.search-hotels-in-sedona {

  height: 395px;
  display: block;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  line-height: 26px;
  width: 580px;
  position: absolute;
  z-index: 2;
}
.data {
  position: relative;
  padding-left: 55px;
  width: 525px;
  height: 40px;
}
.exit-data::before,
.race-data::before {
  content: "";
  border: none;
  position: absolute;
  right: 80px;
  bottom: 10px;
  background-color: transparent;
  background-image: url("../img/calendar.png");
  height: 22px;
  width: 21px;
  outline: none;
}
.exit-data:hover::before,
.race-data:hover::before {
background-image: url("../img/calendar-black.png");
}
.exit-data:active::before,
.race-data:active::before {
background-image: url("../img/calendar-blue.png");
}
.data input {
  height: 40px;
  width: 330px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  border: none;
  padding-left: 15px;
  margin-left: 20px;

}
.race-data {
  margin-top: 55px;
  margin-bottom: 0;
}
.exit-data {
  margin-top: 30px;
  margin-bottom: 0;
}
.exit-data input {
  margin-left: 17px;
}
.number-of-persons {
  margin-top: 30px;
  height: 40px;

}
.adults {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  height: 50px;
  width: 235px;
  float: left;
  margin-left: 55px;

}
.adults button {
  border: none;
  height: 40px;
  width: 40px;
  background-color: #f2f2f2;
  display: inline-block;
  margin-right: 0;

}
.adults .minus {
  position: absolute;
  top: 195px;
  left: 168px;

}
.adults .minus::before {
  content: "";
  background-image: url("../img/minus.png");
  position: absolute;
  top: 19px;
  left: 20px;
  height: 3px;
  width: 12px;
}
.adults button:focus,
.children button:focus{
outline: none;
}
.adults .plus::before {
  content: "";
  background-image: url("../img/plus.png");
  position: absolute;
  top: 15px;
  left: 10px;
  height: 11px;
  width: 11px;
}
.plus:hover::before {
  background-image: url("../img/plus-black.png");
  height: 11px;
  width: 11px;
  display: block;
}
.minus:hover::before {
  background-image: url("../img/minus-black.png");
  height: 3px;
  width: 12px;
  display: block;
}
.minus:active::before {
  background-image: url("../img/minus-blue.png");
  height: 3px;
  width: 12px;
  display: block;
}
.plus:active::before {
  background-image: url("../img/plus-blue.png");
  height: 11px;
  width: 11px;
  display: block;
}
.page-active a {
  color: #766357;
}
.adults input {
  border: none;
  height: 38px;
  width: 40px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  background-color: #f2f2f2;
  position: absolute;
  top: 195px;
  left: 208px;

}
.adults .plus {
  position: absolute;
  top: 195px;
  left: 248px;
}
.number-of-persons label {
  display: inline-block;
  height: 30px;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.children {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  height: 50px;
  width: 220px;
  float: right;
  margin-right: 25px;
  margin-top: -2px;
  display: inline-block;
}
.children button {
  border: none;
  height: 40px;
  width: 40px;
  background-color: #f2f2f2;
}
.children label {
  width: 80px;
}
.children .minus {
  position: absolute;
  top: 195px;
  left: 393px;
  display: block;
}
.children .minus::before {
  content: "";
  background-image: url("../img/minus.png");
  height: 3px;
  width: 12px;
  position: absolute;
  top: 19px;
  left: 20px;
}
.children .plus {
  position: absolute;
  top: 195px;
  left: 473px;
}
.children .plus::before {
  content: "";
  background-image: url("../img/plus.png");
  position: absolute;
  top: 15px;
  left: 10px;
  height: 11px;
  width: 11px;
}
.children button:hover,
.adults button:hover {
  color: #000000;
}
.children .minus:hover::before {
  background-image: url("../img/minus-black.png");
  height: 3px;
  width: 12px;
}
.children .plus:hover::before {
  background-image: url("../img/plus-black.png");
  height: 11px;
  width: 11px;
}
.children button:active,
.adults button:active {
  color: #81b3d2;
}
.children .plus:active::before {
  background-image: url("../img/plus-blue.png");
  height: 11px;
  width: 11px;
}
.children .minus:active::before {
  background-image: url("../img/minus-blue.png");
  height: 3px;
  width: 12px;
}
.children input {
  border: none;
  height: 38px;
  width: 40px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 195px;
  left: 433px;
}
.social-btn-tw::before  {
  content: "";
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  position: absolute;
  left: 520px;
}
.social-btn-tw:hover::before,
.social-btn-ut:hover::before,
.social-btn-fb:hover::before {
  background-color: #669ec0;
}
.social-btn-tw:active::before,
.social-btn-ut:active::before,
.social-btn-fb:active::before{
  background-color: #5496bd;
}
.social-btn-tw:active::after {
  background-image: url("../img/tw-click.png");
}
.social-btn-fb:active::after {
  background-image: url("../img/f-click.png");
}
.social-btn-ut:active::after {
  background-image: url("../img/ut-click.png");
}
.social-btn-tw::after {
  content: "";
  background-image: url("../img/tw.png");
  position: absolute;
  width: 17px;
  height: 15px;
  top: 52px;
  left: 535px;
}
.social-btn-fb::after {
  content: "";
  background-image: url("../img/f.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 17px;
  height: 15px;
  top: 51px;
  left: 593px;
}
.logo-academy a {
  background-image: url("../img/logo-academy.png");
  width: 195px;
  height: 39px;
  display: block;
}
.logo-academy a:hover {
  background-image: url("../img/logo-academy-hover.png");
}
.logo-academy a:active {
  background-image: url("../img/logo-academy-click.png");
}
.social-btn-ut::after {
  content: "";
  background-image: url("../img/ut.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 17px;
  height: 15px;
  top: 51px;
  left: 645px;
}
.social-btn-fb::before {
  content: "";
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  position: absolute;
  left: 575px;
}
.social-btn-ut::before {
  content: "";
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  position: absolute;
  left: 630px;
}
.submit input {
  border: none;
  margin-top: 35px;
  width: 455px;
  height: 60px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  margin-left: 58px;
}
.container-visitsedona span {
  font-size: 21px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  height: 70px;
  width: 280px;
  display: inline-block;
  float: left;
  margin-left: 0;
  padding-top: 50px;
}
.footer-social {
  float: left;
  display: block;
  margin-left: 405px;
  height: 82px;
  width: 300px;
  margin-top: -223px;
  padding-top: 38px;
  padding-left: 120px;
}
.logo-academy {
  display: block;
  float: right;
  margin-right: 0;
  margin-top: -223px;
  height: 80px;
  width: 290px;
  padding-left: 80px;
  padding-top: 40px;
}
.data input:hover {
  background-color: #ebebeb;
}
input:focus {
outline: none;
}
.data input:focus {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.submit input:hover {
  background-color: #669ec0;
}
.submit input:active {
  background-color: #669ec0;
  color: #94b9d2;
}
.navigation a:active {
  color: #dadada;
}
.search-hotels-in-sedona-show {
  display: none;
}





.housing-choice {
  color: #ffffff;
  width: 1200px;
  height: 220px;
  position: absolute;
  z-index: 6;
  top: 55px;

}
.infrastructure {
  float: left;
  height: 220px;
  width: 310px;



}
.housing-choice b,
.housing-type b {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;

}
.infrastructure:first-child b {
  margin-bottom: 0;
  margin-left: 73px;
  margin-top: 30px;
  display: block;
}
.infrastructure .checkbox {
  font-size: 14px;
  line-height: 21px;
  margin-top: 28px;
  margin-left: 75px;

}
.infrastructure label {
  padding-left: 20px;
}
.housing-type {
  float: left;
  height: 220px;
  width: 275px;
  padding-left:  15px;




}
.housing-type b {
  margin-top: 30px;
  display: block;
}
.housing-type .checkbox-housing-type {
  font-size: 14px;
  line-height: 21px;
  margin-top: 27px;

}
.housing-type label {
  padding-left: 20px;
}
.filter-range {
  height: 220px;
  width: 600px;

  float: right;
}
.filter-range-title {
  font-size: 16px;
  line-height: 21px;
   margin-left: 195px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 13px;
  width: 220px;

}
.price-controls {
  width: 318px;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: 210px;
  font-size: 0;
  position: relative;
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;


  cursor: pointer;

}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  margin-left: 60px;
  padding-top: 7px;

}
.price-controls input {
  width: 50px;
  margin: 0;
 padding-left: 5px;
  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.price-controls::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #ffffff;
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  width: 318px;
  margin-left: 215px;


  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  width: 4px;
  height: 4px;
  position: absolute;
  top: -9px;
  left: 210px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 210px;
}

.range-toggle-max {
  left: 77%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.btn-transparent {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 295px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background-color: #ffffff;
}
.found {
  height: 85px;
  width: 1200px;
  display: block;
  border-bottom: 1px solid #e5e5e5;
  margin-top: -9px;
}
.found b {
  font-size: 21px;
  line-height: 26px;
  margin-top: 30px;
  margin-left: 73px;
  display: inline-block;
}
.found p {
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 48px;
}
.found p+a {

  margin-left: 40px;
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  text-decoration: none;
}
.type,
.criteria-rating {

  margin-left: 30px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
   border-bottom: 1px dashed #81b3d2;
   text-decoration: none;
}
.type:hover,
.criteria-rating:hover {
  color: #81b3d2;
  opacity: 1;

}
.type:active,
.criteria-rating:active {
  color: #000000;
border-bottom: none;

}
.triangle-up  {
  margin-left: 490px;
  margin-right: 10px;

}
.searching-results {
  width: 1200px;
  height: 455px;


}
.result-1,
.result-2,
.result-3 {
  width: 1200px;
  height: 150px;
  border-bottom: 1px solid #e5e5e5;
}


.img-amaro,
.img-desert,
.img-villas {
  width: 135px;
  float: left;
  height: 120px;
 padding-top: 30px;

padding-left: 75px;


}

.result-1-arama,
.result-2-desert,
.result-3-villas {

  float: left;
  width: 280px;
  height: 150px;
  margin-left: 30px;


}
.rating {
  float: right;
  height: 150px;
  width: 240px;


}
.result-1-arama a,
.result-2-desert a,
.result-3-villas a {
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;

  font-weight: bold;
  margin-top: 25px;
  display: block;
  margin-bottom: -7px;
}
 .housing {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
 margin-bottom: -5px;
  margin-right: 40px;

  width: 80px;
  height: 25px;
}

.price {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;

}
.more-reservation .more {
  width: 110px;
  height: 20px;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 5px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;


}
.more-reservation {


  margin-top: -27px;
}
.more-reservation .reservation {
  width: 140px;
  height: 20px;
  background-color: #766357;
  color: #ffffff;
  border: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.rating img {

  display: block;
  margin-top: 30px;
  margin-left: 80px;
}
.result-2 .rating   img  {

  margin-left: 105px;
}
.result-3 .rating   img {
  margin-left: 125px;
}
.rating p {
  display: block;
  margin-top: 50px;
  margin-left: 85px;
}
.footer-catalog {
  width: 1200px;
  height: 120px;
}
.footer-social-catalog {
  width: 400px;
  height: 120px;

  margin-left: 400px;
  position: relative;
}
.social-btn-catalog-tw::before {
  content: "";
  height: 48px;
  width: 46px;
  background-color: #81b3d2;
  display: inline-block;

 position: absolute;
 top:35px;
 left: 130px;
}
.social-btn-catalog-fb::before {
content: "";
  height: 48px;
  width: 46px;
  background-color: #81b3d2;
  display: inline-block;
  position: absolute;
  top:35px;
  left: 185px;

}
.social-btn-catalog-ut::before {
  content: "";
  height: 48px;
  width: 46px;
  background-color: #81b3d2;
  display: inline-block;
  position: absolute;
  top:35px;
  left: 240px;

}
.social-btn-catalog-tw:hover::before,
.social-btn-catalog-ut:hover::before,
.social-btn-catalog-fb:hover::before {
  background-color: #669ec0;
}
.social-btn-catalog-tw:active::before,
.social-btn-catalog-ut:active::before,
.social-btn-catalog-fb:active::before{
  background-color: #5496bd;
}
.social-btn-catalog-tw:active::after {
  background-image: url("../img/tw-click.png");
}
.social-btn-catalog-fb:active::after {
  background-image: url("../img/f-click.png");
}
.social-btn-catalog-ut:active::after {
  background-image: url("../img/ut-click.png");
}
.social-btn-catalog-tw::after {
  content: "";
  background-image: url("../img/tw.png");
  position: absolute;
  width: 17px;
  height: 15px;
  top:53px;
  left: 145px;

}
.social-btn-catalog-fb::after {
  content: "";
  background-image: url("../img/f.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 17px;
  height: 15px;
  top:51px;
  left: 202px;
}
.social-btn-catalog-ut::after {
  content: "";
  background-image: url("../img/ut.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 17px;
  height: 15px;
  top:51px;
  left: 255px;
}
.logo-academy-catalog {
  position: absolute;
  left: 950px;
  top: 820px;
  padding-left: 20px;
  padding-top: 40px;

}
.logo-academy-catalog a {
  background-image: url("../img/logo-academy.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 28px;
  display: block;
  padding-left: 105px;
  padding-top: 45px;



}
.logo-academy-catalog a:hover {
  background-image: url("../img/logo-academy-hover.png");
}
.logo-academy-catalog a:active {
  background-image: url("../img/logo-academy-click.png");
}


.checkbox-input {
display: none;

}
.checkbox-input + label {
  cursor: pointer;
  margin-left: 35px;








}


.checkbox-input:checked + label::after {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  width: 22px;
  height: 22px;
  background-position: -5px -5px;
  position: absolute;
 top: 0;
}




.checkbox-input + label::after {
  content: "";
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  width: 26px;
  height: 22px;
  background-position: -5px -37px;
  position: absolute;
  top: 0;
}

.infrastructure label,
.housing-type label {
  position: relative;
}
.triangle-up::before {
  content: "";
  background-image: url("../img/triangle-up.png");
  position: absolute;
  width: 11px;
  height: 10px;
  top: 317px;



}
.triangle-down::before {
  content: "";
  background-image: url("../img/triangle-down.png");
  position: absolute;
  width: 11px;
  height: 10px;
  top: 317px;
  right: 150px;
}
.triangle-up:hover::before{
  background-image: url("../img/triangle-up-black.png");


}
.triangle-down:hover::before {
  background-image: url("../img/triangle-down-black.png");
}
.triangle-up:active::before{
  background-image: url("../img/triangle-up-blue.png");


}
.triangle-down:active::before {
  background-image: url("../img/triangle-down-blue.png");
}
.more:hover {
  background-color: #669ec0;
}
.more:active {
  background-color: #5496bd;

}
.reservation:hover {
  background-color: #604e43;
}
.reservation:active {
  background-color: #503e33;
}
.name-amara:hover,
.name-desert:hover,
.name-villas:hover {
  color: #81b3d2;
}
.name-amara:active,
.name-desert:active,
.name-villas:active {
  color: #000000;
  opacity: 0.3;
}
